# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\veren\Documents\Uni\Master\03_Sommersemester 2021\ASP\Projektphase\Project\autonome-systeme\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
